.DS_Store

static/file_resource/*
static/resource/*
static/uploads/*
*.pyc

logs/

static/.webassets-cache

*.swp

.idea

config.cfg
config.py
!/view/config.py
static/js/common_packed.js

__init__.py
manage.py
index.html
nohup.out
