{% extends "index.html" %}
{% block main %}
    <style>
    .text-overflow_1{ max-height:82px;word-wrap: break-word; word-break: normal; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
    .text-overflow_2{ max-height:18px;word-wrap: break-word; word-break: normal; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
    </style>
<div class="container projects">

      <div class="center wow fadeInDown animated">
{#        <h2>Bootstrap相关优质项目推荐</h2>#}
{#        <p>这些项目或者是对Bootstrap进行了有益的补充，或者是基于Bootstrap开发的</p>#}
      </div>

    {% if m_type in ['gongsizhuanrang'] %}
        {% set height_1 =  405%}
        {% set height_2 = 266 %}
        {% set text_overflow =  'text-overflow_2'%}
    {% else %}
        {% set height_1 =  366%}
        {% set height_2 = 156 %}
        {% set text_overflow =  'text-overflow_1' %}
    {% endif %}

      <div class="row">
      {% for i in sec_g_list %}
        <div class="col-sm-6 col-md-4 col-lg-3 child_item">
          <div class="thumbnail" style="height: {{ height_1 }}px;">
            <a href="#" target="_blank">
                <img class="lazy child_item sec_img" style="width: 100%;height: {{ height_2 }}px" src="/static/images/items/classes/{{ i.name }}.jpg"></a>
            <div class="caption" style="text-align: center">
              <h3 style="color: darkred">{{ i.name }}
              </h3>
              <p class="{{ text_overflow }}">
              {{ i.description }}
              </p>
                <div class="pp_middle" style="text-align: center">
                    <a href="/source/list/{{ i.id }}" class="btn btn-md btn-danger">了解更多</a>
                </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(function(){
    $('.sec_img').error(function(){
        $(this).attr("src", "/static/images/items/example01.png");
    })
});
{#    $(".sec_img").one("error", function(e){#}
{#         $(this).attr("src", "../../static/images/items/example01.png");#}
{#    });#}

{#    $( ".sec_img" )#}
{#        .error(function() {#}
{#            $( this ).attr( "src", "/static/images/items/example01.png" );#}
{#        }).attr( "src", "/static/images/items/classes/{{ i.name }}.jpg" );#}

{#    $('.sec_img').on("error",function(){});#}
</script>
{% endblock %}