{% extends "index.html" %}
{% block css %}
{#<link href="/static/libs/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
{%if not doc_details.url%}
<link href="../../static/libs/froala/css/froala_editor.min.css" rel="stylesheet" type="text/css">
{#<link href="../../static/libs/magicsuggest/magicsuggest-min.css" rel="stylesheet" type="text/css">#}
{%endif%}
<style>
    #group_list li {
        padding: 5px;
    }
    #group_list li a{
        font-size: 20px;
        color: #333;
    }
    .title {
        font-size: 18px;
        color: #333;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .update_time {
        font-size: 16px;
        color: #666;
        text-align: center;
    }
    .content {
        font-size: 16px;
        color: #666;
        text-align: left;
        line-height: 27px;
        padding: 10px;
        height: auto;
    }
</style>
{% endblock %}


{% block js %}
{% endblock %}
{% block main %}
<div class="container projects">
      <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="javascript:void(0)">{{ first_detail.name }}</a></li>
            <li><a href="/source/list/{{ sec_g_detail.d_id }}">{{ sec_g_detail.name }}</a></li>
            <li class="active">{{ doc_details.title }}</li>
        </ol>

        <div id="group_list" class="col-md-2" style="-webkit-box-shadow: 1px 1px 5px #ccc;">
            <ul>
                {% for i in sec_g_list %}
                    <li><a href="/{{ i.d_id }}">{{ i.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-10">
            <h1 class="title">{{ doc_details.title }}</h1>
            <div class="update_time">更新日期：{{ doc_details.update_time }}</div>
            <div id="details" name="details">
                {{doc_details.details | safe}}
            </div>
        </div>
    </div>
</div>
<!--<embed id="plugin" type="application/x-google-chrome-pdf" src="/static/docs/{{name}}.pdf"></embed>-->
{% endblock %}
{% block script %}
{%if not doc_details.url%}
<script type="text/javascript" src="../../static/libs/froala/js/froala_editor.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="../../static/libs/froala/js/froala_editor_ie8.min.js"></script>
<![endif]-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/tables.min.js"></script>-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/lists.min.js"></script>-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/colors.min.js"></script>-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/media_manager.min.js"></script>-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/font_family.min.js"></script>-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/font_size.min.js"></script>-->
<!--<script type="text/javascript" src="../../static/libs/froala/js/plugins/block_styles.min.js"></script>-->


<script>
    $(function() {
        $('#details').editable({});
    });
</script>
{%endif%}
<script>
</script>
{%  endblock %}