{% extends "index.html" %}
{% block main %}
    <style>
    .zxx_text_overflow_1{ max-height:82px;word-wrap: break-word; word-break: normal; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
    </style>
<div class="container projects">

      <div class="center wow fadeInDown animated">
      </div>
    {# 备注:修改本页内容,可以直接在下面的item_map中添加,注意字段item,和contents不能改变 #}

    {% if m_type == "" %}
    {% endif %}

      <div class="row">
          <h1>暂无内容</h1>
    </div>
</div>
{% endblock %}