    #character{
        background: #f2f2f2;
        padding: 30px;
    }
    .solutions > div{
        padding: 0 3px;
    }
    .sol_items{
        border: 1px solid black;
        text-align: center;
        padding-top:20px;
        height: 400px;
    }
    .sol_items > h4{
        font-size: 2.5em;
        color:#000000;
    }
    .sol_items ul{
        height: 160px;
    }
    .sol_items > ul > li{
        font-size: 1.3em;
        color: #808080;
        padding: 5px;
    }
    .sol_items > ul > li > span{
        color: #ff0000;
    }
    .sol_icon{
        width: 100px !important;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        padding-top: 25px;
        color: darkred;
        border: 1px solid #000000;
        font-size: 4em;
        border-radius: 50%;
        -webkit-border-radius:50%;-moz-border-radius:50%;-ms_border-radius:50%;
        display:inline-block;margin:0 5%; position:relative;
        behavior: url("../../static/plugins/ie/htc/PIE.htc")
    }
    .sol_icon:hover{
        background-color: rosybrown;
        cursor: pointer;
    }