<style>
    #advert1{
        padding: 0;
        height: 162px;
        background: url("../../static/images/slider/advert1.jpg");
    }
    #advert1 >div > div{
        padding-top: 20px;
        text-align: center;
    }
    #advert1 img{
        height: 162px;
        width: 30%;
        float: left;
    }
    #advert1 h3{
        color: darkred;
    }
    .advert1_item2{
        float: left;
        width: 50%;
    }
    .advert1_item3{
        float: left;
        width: 50%;
        text-align: center;
    }
    .advert1_item2 h2{
        font-family: Impact;
        font-weight: bolder;
        color: darkred;
    }
    .advert1_item3 h2{
        font-size: 30px;
        font-family: Impact;
        color: darkred;
    }
    .advert1_item3 h4{
        color: darkred;
    }
</style>
<section id="advert1">
    <div class="container">
{#            <img src="../../static/images/slider/img1.png">#}
            <div class="advert1_item2">
                <button class="btn btn-lg btn-danger" style="cursor: default; line-height: 2;padding: 2px 5px;">零元注册，创业首选！</button><br>
                <h2>公司注册顾问在线答疑  找到属于您公司的注册方案吧！</h2>
            </div>
            <div class="advert1_item3">
                <h4>公司注册咨询热线</h4>
                <h2>40071-80071</h2>
                <a class="btn btn-lg btn-danger" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1227203279&amp;site=qq&amp;menu=yes" target="_blank">在线咨询</a>
            </div>
    </div><!--/.container-->
</section>