<style>
    #advert2{
        padding: 0;
        height: 162px;
        width: 100%;
        background: url("../../static/images/slider/bg_3.jpg");
    }
    #advert2 >div > div{
        padding: 20px;
        text-align: center;
    }
    #advert2 img{
        height: 162px;
        width: 30%;
        float: left;
    }
    #advert2 h3{
        color: darkred;
    }
    .advert2_item2{
        float: left;
        width: 40%;
    }
    .advert2_item3{
        float: left;
        width: 30%;
        text-align: center;
    }
    .advert2_item3 h2{
        font-size: 30px;
        font-family: Impact;
        color: darkred;
    }
    .advert2_item3 h4{
        color: darkred;
    }
</style>
<section id="advert2">
    <div class="container">
            <div class="advert2_item2">
                <button class="btn btn-lg btn-danger" style="cursor: default;">财务税收直通车</button><br>
                <h3>百统为您提供40%以上高额返税注册方案</h3>
            </div>
{#            <img src="../../static/images/slider/img5.jpg">#}
            <div class="advert2_item3">
                <h4>公司注册咨询热线</h4>
                <h2>40071-80071</h2>
                <a class="btn btn-lg btn-danger" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1227203279&amp;site=qq&amp;menu=yes" target="_blank">在线咨询</a>
            </div>
    </div><!--/.container-->
</section>