{#<link rel="stylesheet" type="text/css" href="../../static/css/character.css" />#}
<style>
    #character{
        background: #f2f2f2;
        padding: 30px;
    }
    .solutions > div{
        padding: 0 3px;
    }
    .sol_items{
        border: 1px solid black;
        text-align: center;
        padding-top:20px;
        height: 400px;
    }
    .sol_items > h4{
        font-size: 2.5em;
        color:#000000;
    }
    .sol_items ul{
        height: 160px;
    }
    .sol_items > ul > li{
        font-size: 1.3em;
        color: #808080;
        padding: 5px;
    }
    .sol_items > ul > li > span{
        color: #ff0000;
    }
    .sol_icon{
        width: 100px !important;
        height: 100px;
        text-align: center;
        vertical-align: middle;
        padding-top: 25px;
        color: darkred;
        border: 1px solid #000000;
        font-size: 4em;
        border-radius: 50%;
        -webkit-border-radius:50%;-moz-border-radius:50%;-ms_border-radius:50%;
        display:inline-block;margin:0 5%; position:relative;
        behavior: url("../../static/plugins/ie/htc/PIE.htc")
    }
    .sol_icon:hover{
        background-color: rosybrown;
        cursor: pointer;
    }

</style>
<section id="character" >
    <div class="container">
           <div class="center wow fadeInDown">
                <h2>百统投资---全国知名品牌  提供企业一站式解决方案</h2>
            </div>

            <div class="row">
                    <div class='solutions' id="solutions">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="sol_items">
                                <span class="glyphicon glyphicon-thumbs-up sol_icon"></span>
                                <h4>实力保证</h4>
    {#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                <ul>
                                   <li>
                                       <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                       与临港经济园区、崇明经济园区、闵行经济园区、金山经济园区等多家经济开发区联合运营;
                                   </li>
                                    <li>
                                        <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                        企业可选择入驻自贸区、非自贸区、市区、郊区，整个上海，所有工商财税业务全面覆盖;
                                    </li>
                                </ul>
                                <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="sol_items">
                                    <span class="glyphicon glyphicon-headphones sol_icon"></span>
                                    <h4 style="">返税无忧</h4>
    {#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                    <ul>
                                       <li><span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                           为客户定制个性化企业战略、财务管理方案，根据企业主营业务推荐适合的经济园区、孵化基地及享受的创业优惠政策;
                                       </li>
                                        <li><span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                            40%以上高额返税注册方案，纳税大户最贴心的合作伙伴;</li>
                                    </ul>
                                    <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="sol_items">
                                    <span class="glyphicon glyphicon-inbox sol_icon"></span>
                                    <h4>服务体系</h4>
    {#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                    <ul>
                                       <li><span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                           拥有强创造力、精准化管理团队，高水准、专业化服务团队，资深会计记帐团队，专业、高效、用心服务每一位客户;
                                       </li>
                                        <li><span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                            数十年各行业工商顾问经验，为您公司业务拓展，提供相关人脉推荐、投资融资渠道服务;
                                        </li>
                                    </ul>
                                    <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="sol_items">
                                <span class="glyphicon glyphicon-eye-open sol_icon"></span>
                                <h4>价格透明</h4>
{#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                <ul>
                                   <li><span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                       透明化服务收费，明码实价，签订服务合同后不再收取任何附加费用;
                                   </li>
                                    <li><span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
                                        根据服务合同及服务须知严格操作，也可根据客户情况通过特殊通道加急办理;
                                    </li>
                                </ul>
                                <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                            </div>
                        </div>
                    </div>
            </div><!--/.row-->
        </div><!--/.container-->
</section>