<link rel="stylesheet" type="text/css" href="../../static/css/character.css" />
<style>
    .solutions ul li{
{#        font-weight: bold;#}
        color: black;
        text-align: left;
    }
</style>
<section id="character" >
    <div class="container">
           <div class="center wow fadeInDown" style="padding-bottom: 0px">
                <h2 style="font-family: monospace;color: black">百统投资---全国<span style="color: red">知名品牌</span>提供企业一站式解决方案</h2>
               <p style="color: #000000;font-size: 20px;font-family: inherit;margin: 15px;">ADVANTAGES</p>
            </div>

            <div class="row">
                    <div class='solutions' id="solutions">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="sol_items">
                                <span class="glyphicon glyphicon-thumbs-up sol_icon"></span>
                                <h4>实力保证</h4>
    {#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                <ul>
                                   <li>
                                       <span class="glyphicon glyphicon-chevron-right"></span>
                                       与临港经济园区、崇明经济园区、闵行经济园区、金山经济园区等多家经济开发区联合运营;
                                   </li>
                                    <li>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        企业可选择入驻自贸区、非自贸区、市区、郊区，整个上海，所有工商财税业务全面覆盖。
                                    </li>
                                </ul>
                                <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="sol_items">
                                    <span class="glyphicon glyphicon-headphones sol_icon"></span>
                                    <h4 style="">返税无忧</h4>
    {#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                    <ul>
                                       <li><span class="glyphicon glyphicon-chevron-right"></span>
                                           为客户定制个性化企业战略、财务管理方案，根据企业主营业务推荐适合的经济园区、孵化基地及享受的创业优惠政策;
                                       </li>
                                        <li><span class="glyphicon glyphicon-chevron-right"></span>
                                            40%以上高额返税注册方案，纳税大户最贴心的合作伙伴。</li>
                                    </ul>
                                    <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="sol_items">
                                    <span class="glyphicon glyphicon-inbox sol_icon"></span>
                                    <h4>一手资源</h4>
    {#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                    <ul>
                                       <li><span class="glyphicon glyphicon-chevron-right"></span>
                                           我公司拥有一批极为丰富的一手资源，资源可靠、价格优惠、严格程序、全程掌控;
                                       </li>
                                        <li><span class="glyphicon glyphicon-chevron-right"></span>
                                            数十年的工商、财税资源，做到真正的资源共享，合作共赢，给您创造后期业务合作的大平台。
                                        </li>
                                    </ul>
                                    <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                                </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="sol_items">
                                <span class="glyphicon glyphicon-eye-open sol_icon"></span>
                                <h4>价格透明</h4>
{#                                    <p>LOGISTICS ADVANTAGE</p>#}
                                <ul>
                                   <li><span class="glyphicon glyphicon-chevron-right"></span>
                                       透明化服务收费，明码实价，签订服务合同后不再收取任何附加费用;
                                   </li>
                                    <li><span class="glyphicon glyphicon-chevron-right"></span>
                                       根据服务合同及服务须知严格操作，也可根据客户情况通过特殊通道加急办理。
                                   </li>
                                </ul>
                                <a class="btn btn-danger" href="javascript:void(0)">免费咨询</a>
                            </div>
                        </div>
                    </div>
            </div><!--/.row-->
        </div><!--/.container-->
</section>