<link href="/static/css/nav1.css" rel="stylesheet">
<style>
    .card-item h2{
        margin: 20px 0 5px 0 !important;
        color: black !important;
    }
</style>
{#<section id="services" class="" style="padding: 0;height: 107px;">#}
<section id="services" class="" style="padding: 0;height: 665px;">
    <div class="layout layout-grid-0">
  <!--row -->
    <div class="grid-0">
  <!-- col -->
        <div class="col col-main">
            <div class="main-wrap J_Region">
                <div data-spm="418687" data-moduleid="147835" data-name="aliyun-index-product-sale" data-guid="418687" id="guid-418687" data-scene-id="431829" data-scene-version="8" data-hidden="" data-gitgroup="ali-mod" data-ext="" class="aliyun-index-product-sale" tms="aliyun-index-product-sale/0.0.36" tms-datakey="431829"><div class="module-wrap J_tb_lazyload dbl_tms_module_wrap">
                <div class="index-sale">
      <div class="center wow fadeInDown">
        <h2 style="color:black;font-family:monospace"><span class="glyphicon glyphicon-star" style="color: red"></span>
            <span class="glyphicon glyphicon-star" style="color: red"></span>
                <span class="glyphicon glyphicon-star" style="color: red"></span>&nbsp;金牌项目推荐
            <span class="glyphicon glyphicon-star" style="color: red"></span>
            <span class="glyphicon glyphicon-star" style="color: red"></span>
            <span class="glyphicon glyphicon-star" style="color: red"></span>
        </h2>
          <p style="color: #000000;font-size: 20px;font-family: inherit;margin: 15px;">RECOMMENDED</p>
      </div>
    <div class="y-row" style="margin:0 auto">
      <ul class="card-area">

        <li id="card-item-1" class="card-item" data-index="0">
          <div class="card">
            <div class="card-title  title-even  ">
              <div class="content">
                <div class="ali-product-img">
                  <img src="/static/images/section/section_3_1.png" alt="" class="un-hover">
                  <img src="/static/images/section/section_3_1.png" alt="" class="with-hover">
                </div>
                <h2>免费代理注册公司</h2>
                <p class="short-info">一站式、全方位、高效率</p>
              </div>
            </div>
            <div class="card-content content-first">
              <ul class="content-first-list">

                <li>科技类公司注册</li>

                <li>贸易类公司注册</li>

                <li>建筑类公司注册</li>

                <li>金融类公司注册</li>

                <li>服务类公司注册</li>

                <li>特殊许可类公司注册</li>


              </ul>
            </div>
            <div class="card-content content-second">
              <div class="main-info">

{#                <a href="#" target="_blank" class="no-effect">#}
{#                  <p class="main-head">#}
{#                    成功注册300家以上#}
{#                  </p>#}
{#                </a>#}
                <p class="main-desc">成功注册300家以上
                   <a href="#" target="_blank"></a>
                </p>
                <a href="#" target="_blank" data-spm-click="gostr=/aliyun;locaid=ECS">
                  <button class="main-btn">立即注册</button>
                </a>
              </div>
              <ul class="other-info">

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">科技类公司注册</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=CDN">
                    立即注册
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">贸易类公司注册</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=CDN">
                    立即注册
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">建筑类公司注册</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=RDS">
                    立即注册
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">金融类公司注册</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=OSS">
                    立即注册
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">服务类公司注册</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=SLB">
                    立即注册
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">特殊许可类公司注册</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=SLB">
                    立即注册
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </li>

        <li id="card-item-2" class="card-item active" data-index="1">
          <div class="card">
            <div class="card-title  title-odd  ">
              <div class="content">
                <div class="ali-product-img">
                  <img src="/static/images/section/section_3_2.png" alt="" class="un-hover">
                  <img src="/static/images/section/section_3_2.png" alt="" class="with-hover">
                </div>
                <h2>专注金融类公司服务</h2>
                <p class="short-info">海量优质资源整合、不成功不收费</p>
              </div>
            </div>
            <div class="card-content content-first">
              <ul class="content-first-list">

                <li>股权投资基金公司转让</li>

                <li>金融信息服务公司转让</li>

                <li>融资租赁公司转让</li>

                <li>商业保理公司转让</li>

                <li>投资类型公司转让</li>

                <li>财富管理公司转让</li>

              </ul>
            </div>
            <div class="card-content content-second">
              <div class="main-info">

                <p class="main-desc">成功案例2000家以上
                </p>
                <a href="#" target="_blank" data-spm-click="gostr=/aliyun;locaid=yumingzhuce2016">
                  <button class="main-btn">立即了解</button>
                </a>
              </div>
              <ul class="other-info">

                <li class="other-info-list">
                  <a href="#" target="" class="no-effect "><h3 class="other-head">股权投资基金公司转让</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yumingjiaoyi2016">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="" class="no-effect "><h3 class="other-head">金融信息服务公司转让</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yumingjiaoyi2016">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="" class="no-effect "><h3 class="other-head">融资租赁公司转让</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=DNS2016">
                    立即了解
                  </a>
                </li>

{#                <li class="other-info-list">#}
{#                  <a href="#" target="" class="no-effect "><h3 class="other-head">云虚拟主机</h3>#}
{#                  </a>#}
{#                  <p class="other-desc">20年专业品质，送备案时长</p>#}
{#                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yunxuni2016">#}
{#                    立即了解#}
{#                  </a>#}
{#                </li>#}
{##}
{#                <li class="other-info-list">#}
{#                  <a href="https://wanwang.aliyun.com/mail/" target="" class="no-effect "><h3 class="other-head">企业邮箱</h3>#}
{#                  </a>#}
{#                  <p class="other-desc">无限容量，50万企业信任之选</p>#}
{#                  <a href="https://wanwang.aliyun.com/mail/" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yunyouxiang2016">#}
{#                    立即了解#}
{#                  </a>#}
{#                </li>#}
                <li class="other-info-list">
                  <a href="#" target="" class="no-effect "><h3 class="other-head">商业保理公司转让</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yunxuni2016">
                    立即了解
                  </a>
                </li>
                  
                <li class="other-info-list">
                  <a href="#" target="" class="no-effect "><h3 class="other-head">投资类型公司转让</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yunxuni2016">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="" class="no-effect "><h3 class="other-head">财富管理公司转让</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=yunyouxiang2016">
                    立即了解
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </li>


        <li id="card-item-3" class="card-item" data-index="2">
          <div class="card">
            <div class="card-title  title-even  ">
              <div class="content">
                <div class="ali-product-img">
                  <img src="/static/images/section/section_3_3.png" alt="" class="un-hover">
                  <img src="/static/images/section/section_3_3.png" alt="" class="with-hover">
                </div>
                <h2>增资、验资 </h2>
                <p class="short-info">10万-6亿资金保障</p>
              </div>
            </div>
            <div class="card-content content-first">
              <ul class="content-first-list">

                <li>人民币验资</li>

                <li>美元验资</li>

                <li>大额验资</li>

                <li>验资报告</li>

                <li>资信证明</li>

                <li>代打流水单</li>

              </ul>
            </div>
            <div class="card-content content-second">
              <div class="main-info">

                <p class="main-desc">
                    成功服务1000家以上
                </p>
                <a href="#" target="_blank" data-spm-click="gostr=/aliyun;locaid=safeecs">
                  <button class="main-btn">立即了解</button>
                </a>
              </div>
              <ul class="other-info">

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">人民币验资</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=webwaf201608">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">美元验资</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=webwaf201608">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">大额验资</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=anqishi2016">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">验资报告</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=taishiganzhi2016">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">资信证明</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=taishiganzhi2016">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">代打流水单</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=ddos2016">
                    立即了解
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </li>

        <li id="card-item-4" class="card-item" data-index="3">
          <div class="card">
            <div class="card-title  title-odd  ">
              <div class="content">
                <div class="ali-product-img">
                  <img src="/static/images/section/section_3_4.png" alt="" class="un-hover">
                  <img src="/static/images/section/section_3_4.png" alt="" class="with-hover">
                </div>
                <h2>代理记账</h2>
                <p class="short-info">资深会计团队一对一服务</p>
              </div>
            </div>
            <div class="card-content content-first">
              <ul class="content-first-list">

                <li>收费标准</li>

                <li>公司资质</li>

                <li>服务团队</li>

                <li>上市审计</li>

                <li>财税咨询</li>

                <li>纳税筹划</li>

              </ul>
            </div>
            <div class="card-content content-second">
              <div class="main-info">
                <p class="main-desc">
                    持续服务800家以上
                </p>
                <a href="#" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_datav">
                  <button class="main-btn">立即了解</button>
                </a>
              </div>
              <ul class="other-info">

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">收费标准</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_prophet">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">公司资质</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_prophet">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">服务团队</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_odps">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">上市审计</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_bi">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">财税咨询</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_prophet">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">纳税筹划</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_bi">
                    立即了解
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </li>

        <li id="card-item-5" class="card-item" data-index="3">
          <div class="card">
            <div class="card-title  title-odd  ">
              <div class="content">
                <div class="ali-product-img">
                  <img src="/static/images/section/section_3_5.png" alt="" class="un-hover">
                  <img src="/static/images/section/section_3_5.png" alt="" class="with-hover">
                </div>
                <h2>特殊渠道</h2>
                <p class="short-info">1手渠道、说到做到</p>
              </div>
            </div>
            <div class="card-content content-first">
              <ul class="content-first-list">

                <li>执照加急</li>

                <li>名称加急</li>

                <li>名称特核</li>

                <li>档案加急</li>

                <li>异常处理</li>

                <li>黑名单移除</li>

              </ul>

            </div>
            <div class="card-content content-second">
              <div class="main-info">
                <p class="main-desc">
                    成功案例不计其数
                </p>
                <a href="#" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_datav">
                  <button class="main-btn">立即了解</button>
                </a>
              </div>
              <ul class="other-info">

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">执照加急</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_re">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">名称加急</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_re">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">名称特核</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_prophet">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">档案加急</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_odps">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">异常处理</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_bi">
                    立即了解
                  </a>
                </li>

                <li class="other-info-list">
                  <a href="#" target="_blank" class="no-effect "><h3 class="other-head">黑名单移除</h3>
                  </a>
                  <p class="other-desc"></p>
                  <a href="#" class="list-context" target="_blank" data-spm-click="gostr=/aliyun;locaid=home_bi">
                    立即了解
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
            </div>
          </div>
        </div>
  <!--col -->
    </div>
  <!-- row -->
  </div>
</div>
    <script type="text/javascript">

        $(".card-item").mouseover(function () {
                $(".card-item").removeClass("active");
                $(this).addClass("active");
        });
    </script>
</section>