<style>
    .new{width:100%;background:#fff;padding-top:48px;padding-bottom:60px;}
    .media{width:1200px;margin:0 auto;overflow: hidden;}
    .company{width:380px;float:left;margin-right:30px;}
    .media_top{width:100%;border-bottom:1px solid #d02e4e;font-size:32px;font-size:1.75rem;color:#333;padding-bottom:13px;padding-bottom:0.8rem;}
    .media_top .l{font-size:14px;color:#666;}
    .media_top .r{float:right;display:block;background:url(/statics/images/img/jia.png) no-repeat left;padding-left:24px;font-size:14px;padding-left:1.5rem;font-size:0.875rem;color:#666;margin-right:14px;margin-right:0.9rem;}
    .media_top .r a{color:#666;}
    .media_img img{margin-top:24px;margin-top:1.5rem;display: block;height: auto;max-width: 100%;line-height: 1;}
    .txt{font-size:16px;width:100%;text-align:center;line-height:32px;line-height:2.0rem;background:url(/statics/images/img/rgba60.png);left: 0;bottom: 0;color: #fff;font-family: "微软雅黑";position:absolute;margin-top:31px;margin-top:-1.95rem;}
    .company ul li{width:100%;font-size:14px;line-height:31px;line-height:1.95rem;border-bottom:1px dashed #ccc;}
    .company ul li.media_img{border:0;}
    .company ul li a{color:#333;padding-left:20px;display: block;position:relative;}
    .company ul li.media_img a{padding-left:0px;}
    .company ul li a:hover{color:#c80027;}
    .media ul li span{position: absolute;right:0;}
    .media ul li i{width:4px;height:4px; border-radius: 2px;background:#c80027;position: absolute;left:0;top:13px;}
    .dynamic{width:380px;float:left;margin-right:30px;}
    .dynamic ul li{width:100%;font-size:14px;line-height:31px;line-height:1.95rem;border-bottom:1px dashed #ccc;}
    .dynamic ul li.media_img{border:0;}
    .dynamic ul li a{color:#333;padding-left:20px;display: block;position:relative;}
    .dynamic ul li.media_img a{padding-left:0px;}
    .dynamic ul li a:hover{color:#c80027;}
    .ask{width:380px;float:left;}
    .ask ul li{width:100%;font-size:14px;line-height:31px;line-height:1.95rem;border-bottom:1px dashed #ccc;}
    .ask ul li.media_img{border:0;}
    .ask ul li a{color:#333;padding-left:20px;display: block;position:relative;}
    .ask ul li.media_img a{padding-left:0px;}
    .ask ul li a:hover{color:#c80027;}
</style>
<div class="new">
    <div class="media">
        <div class="company">
        <div class="media_top">公司风采<br><span class="l">COMPANY INTRODUCTION</span><span class="r"><a href="/#">更多</a></span></div>
        <ul>
        <li class="media_img"><a href="#"><img src="/static/images/media/img1.jpg" width="380" height="200"><div class="txt">新办天津村镇银行条件</div></a></li>
        <li><a href="#"><i></i><div class="">精英齐聚风雨同舟,阳光奥美集团2017年春...<span>2017-01-22</span></div></a></li>
        <li><a href="#"><i></i><div class="">工商总局关于全面推进企业简易注销登记...<span>2017-01-03</span></div></a></li>
        <li><a href="#"><i></i><div class="">天津典当行转让-阳光奥美独家资源<span>2016-12-07</span></div></a></li>
        <li><a href="#"><i></i><div class="">培训学校办学资质转让<span>2016-12-05</span></div></a></li>
        <li style="background: none;"><a href="#"><i></i><div class="">转让带20个车指标的汽车租赁公司<span>2016-11-22</span></div></a></li>
        </ul>
        </div>
        <div class="dynamic">
        <div class="media_top">政策资讯<br><span class="l">POLICY INFORMATION </span><span class="r"><a href="/#">更多</a></span></div>
        <ul>
        <li class="media_img"><a href="#"><img src="/static/images/media/img1.jpg" width="380" height="200"><div class="txt">2017年外资商业保理公司注册资金要求详解</div></a></li>
        <li><a href="#"><i></i><div class="">2017年外资融资租赁公司经营范围及注册...<span>2017-02-10</span></div></a></li>
        <li><a href="#"><i></i><div class="">股份有限公司注册-股份有限公司设立的条...<span>2017-02-10</span></div></a></li>
        <li><a href="#"><i></i><div class="">商业保理公司注册流程详解<span>2016-12-08</span></div></a></li>
        <li><a href="#"><i></i><div class="">北京公司股权转让有五大类型<span>2016-10-27</span></div></a></li>
        <li style="background: none;"><a href="#"><i></i><div class="">融资租赁公司注册需要具备哪些条件？<span>2016-10-19</span></div></a></li>
        </ul>
        </div>
        <div class="ask">
        <div class="media_top">常见问题<br><span class="l">FREQUENTLY ASKED QUESTIONS</span><span class="r"><a href="/#">更多</a></span></div>
        <ul>
        <li class="media_img"><a href="#"><img src="/static/images/media/img1.jpg" width="380" height="200"><div class="txt">北京车指标常见问题解答</div></a></li>
        <li><a href="#"><i></i><div class="">申请基金销售业务资格应当具备什么条件<span>2016-12-09</span></div></a></li>
        <li><a href="#"><i></i><div class="">北京注册分公司需要提供什么资料？<span>2016-12-09</span></div></a></li>
        <li><a href="#"><i></i><div class="">融资租赁纯外资的要变更合资的，对内资...<span>2016-12-05</span></div></a></li>
        <li><a href="#"><i></i><div class="">上海注册融资租赁公司多少钱？<span>2016-11-15</span></div></a></li>
        <li style="background: none;"><a href="#"><i></i><div class="">注册融资租赁公司审批条件？<span>2016-11-01</span></div></a></li>
        </ul>
        </div>
    </div>
</div>