<style>
#members{
    background-color: #fff9f6;
}
#members .pic img{
    width: 200px;
    height: 325px;
}
#member-jpg{
    height: 325px;
}
.picScroll-left{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
}
.picScroll-left .hd .prev{isplay:block;  float:left; margin-left:5px; margin-top:160px;  overflow:hidden;
			 cursor:pointer; }
.picScroll-left .hd .next{ display:block;  float:right; margin-right:5px; margin-top:160px;  overflow:hidden;
			 cursor:pointer; }
.picScroll-left .bd{ padding-top:20px;margin-left:25px}
.picScroll-left .bd ul{ overflow:hidden;}
.picScroll-left .bd ul li{ margin:0 10px;width:200px;float:left;display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{text-align:center;}
.picScroll-left .bd ul li .pic img{ display:block; }
.picScroll-left .bd ul li .title{ line-height:50px;}
    .pic{
        background-color: lightgray;
    }
</style>
<section id="members">
    <div class="container">
        <div class="center wow fadeInDown" style="padding-bottom: 0px">
            <h2 style="color: black;font-weight: bold">团队精英</h2>
            <p style="color: #000000;font-size: 20px;font-family: inherit;margin: 15px;">TEAMS</p>
        </div>
        <div class="picScroll-left">
			<div class="hd">
				<a class="prev" href="javascript:void(0)"><img src="/static/images/works/left.jpg" /></a>
        		<a class="next" href="javascript:void(0)"><img src="/static/images/works/right.jpg"/></a>
			</div>
			<div class="bd">
				<ul class="picList">
					<li>
						<div class="pic">
                            <a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/chentao.jpg"/></a>
                            <div class="title">工商顾问--陈涛</div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/chenyongfeng.jpg" /></a>
                                                    <div class="title">工商顾问--陈永丰</div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic">
                            <a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/cuishiping.jpg"/></a>
                            <div class="title">工商顾问--崔世平 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/cuishiqin.jpg?v=1486906492" /></a>
                                                    <div class="title">工商顾问--崔世勤 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic">
                            <a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/dujie.jpg"/></a>
                            <div class="title">工商顾问--杜姐 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/fuyi.jpg" /></a>
                                                    <div class="title">工商顾问--富奕 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic">
                            <a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/hailin.jpg"/></a>
                            <div class="title">工商顾问--海林 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
					<li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/keke.jpg" /></a>
                                                    <div class="title">工商顾问--可可 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/luolirong.jpg" /></a>
                                                    <div class="title">工商顾问--罗丽荣 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/xiangxutang.jpg" /></a>
                                                    <div class="title">工商顾问--向旭堂 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/zhangjian.jpg" /></a>
                                                    <div class="title">工商顾问--张剑 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/zhanglin.jpg" /></a>
                                                    <div class="title">工商顾问--张琳 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/zhaoshiyuan.jpg" /></a>
                                                    <div class="title">工商顾问--赵诗媛</div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/tanminghong.jpg" /></a>
                                                    <div class="title">工商顾问--谭明洪 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/xiangqi.jpg" /></a>
                                                    <div class="title">工商顾问--向棋</div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/tanhaiping.jpg" /></a>
                                                    <div class="title">工商顾问--谭海平 </div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
                    <li>
						<div class="pic"><a href="javascript:void(0)" onclick="showMemberDetail(this)"><img src="/static/images/members/hanhui.jpg" /></a>
                                                    <div class="title">工商顾问--韩辉</div>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
					</li>
				</ul>
			</div>
		</div>
    </div><!--/.container-->
    <div class="modal fade" id="members-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 400px">
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <img id="member-jpg" src="/static/images/members/zhanglin.jpg" style="width: 230px;height: 365px" />
                        <div align="center" style="margin-top: 10px">
{#                            <h4 id="member-name" class="title"></h4>#}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <img src="/static/images/members/company-wx.png" />
                        <div align="center">
                            <span style="font-size:1.05em;margin-top:20px">对待客户我们持续关注，
                            对待需求我们用心交流；
                            高效率、全方位、一站式服务</span>
                            <h4 id="member-name" class="title"></h4>
                            <button class="btn btn-danger btn-sm">在线咨询</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>

</section>
<script>
    function showMemberDetail(obj) {
        console.log(name);
        var src = $(obj).find("img").attr("src");
        var name = $(obj).next().html();
        console.log(name);
        $('#member-jpg').attr('src',src);
        $('#member-name').html(name);
        $('#members-detail').modal('show');
    }
</script>
