<style>

.picScroll-left{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
	margin-left: auto;
	margin-right: auto;
}
.pic img{
    width: 200px;
    height: 230px;
}
.picScroll-left .hd .prev{isplay:block;  float:left; margin-left:5px; margin-top:120px;  overflow:hidden;
			 cursor:pointer; }
.picScroll-left .hd .next{ display:block;  float:right; margin-right:5px; margin-top:120px;  overflow:hidden;
			 cursor:pointer; }
.picScroll-left .bd{ padding-top:20px;margin-left:25px}
.picScroll-left .bd ul{ overflow:hidden;}
.picScroll-left .bd ul li{ margin:0 10px;width:200px;float:left;display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{text-align:center;}
.picScroll-left .bd ul li .pic img{ display:block; }
.picScroll-left .bd ul li .title{ line-height:50px;}
</style>
<section id="recent_works" style="padding-bottom: 0px">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>典型案例</h2>
        </div>
        <div class="picScroll-left">
			<div class="hd">
				<a class="prev" href="javascript:void(0)"><img src="/static/images/works/left.jpg" /></a>
        		<a class="next" href="javascript:void(0)"><img src="/static/images/works/right.jpg"/></a>
			</div>
			<div class="bd">
				<ul class="picList">
					<li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451028390595648.jpg"/></a></div>
						<div class="title"><a href="#">全国私募备案</a></div>
					</li>
					<li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451369720559917.jpg" /></a></div>
						<div class="title"><a href="#">水路运输服务许可证</a></div>
					</li>
					<li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451029487820099.jpg" /></a></div>
						<div class="title"><a href="#">基金公司</a></div>
					</li>
					<li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451369869951302.jpg" /></a></div>
						<div class="title"><a href="#">无船承运</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451029575574655.jpg" /></a></div>
						<div class="title"><a href="#">航空铜牌</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451370478665513.jpg" /></a></div>
						<div class="title"><a href="#">建筑业企业资质证书</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451024565992831.jpg" /></a></div>
						<div class="title"><a href="#">1000万股份制有限公司</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451027045631777.jpg" /></a></div>
						<div class="title"><a href="#">3000万自贸区融资租赁公司</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451027730572991.jpg" /></a></div>
						<div class="title"><a href="#">5000万自贸区商业保理公司</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/1451029749761175.jpg" /></a></div>
						<div class="title"><a href="#">增值电信业务经营许可证</a></div>
					</li>
                    <li>
						<div class="pic"><a href="#"><img src="/static/images/works/2-151224103H60-L.jpg" /></a></div>
						<div class="title"><a href="#">1亿基金公司</a></div>
					</li>
				</ul>
			</div>
		</div>
    </div><!--/.container-->
</section>
