<link href="../../static/plugins/bwizard/css/bwizard.css" rel="stylesheet" />
<link href="../../static/plugins/timeline/css/timeline.css" type="text/css" rel="stylesheet" />
<style>
    .register_steps img{
        width: 300px;
    }
    .well{
        height: 400px !important;
    }
    .register_steps ul {
        margin: 15px;
    }
    .register_steps ul li {
        font-size: 18px;
        font-weight: bold;
        color: black;
        padding: 5px;
    }
    .register_steps ul li span{
        color: red;
        margin-right: 30px;
    }
    .register_steps3 .span_odd{
        float: left !important;
        padding-right: 20%;
    }
    .register_ask{
        height: 120px;
        background-color: #a9a9a9;
        padding: 5px 2%;
        border:5px solid wheat;

    }
    .register_ask:hover{
        background-color: firebrick;

    }
    .register_ask h1{
        margin-top: 5px;
        margin-bottom: 0px;

    }
    .register_ask p{
        font-size: 1.1em;
        color: black;
    }
</style>
<section id="register_steps" class="service-item">
   <div class="container">
        <div class="center wow fadeInDown" style="padding-bottom: 20px">
            <h2>上海百统投资有限公司三步帮您解决公司注册难题!</h2>
        </div>

        <div class="row">
            <div id="wizard">
                <ol>
                    <li style="font-size: 20px">注册前</li>
                    <li style="font-size: 20px">注册中</li>
                    <li style="font-size: 20px">注册后</li>
                </ol>
                <div class="register_steps">
                    <div class="col-md-6">
                        <a href="#"><img src="../../static/images/slider/img1.jpg"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="register_steps2">
                            <h1 style="color: #a01913"><span>1:&nbsp;</span>注册前</h1>
                            <b><a href="#" target="_blank" style="font-size: 20px;padding: 15px">专业人员认真倾听客户内在需求，提供最适合方案</a></b>
                            <ul>
                                <li><span class="glyphicon glyphicon-hand-right"></span>提供最合适的注册资金方案</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>选择最优股东比例</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>快速查出企业名称</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>提供最合适的经营范围描述</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>推荐最适合经济园区</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>提供最优合理避税方案</li>
                            </ul>
                            <a class="btn btn-bg btn-danger" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1227203279&amp;site=qq&amp;menu=yes">在线咨询</a>
                        </div>
                    </div>
                </div>
                <div class="register_steps">
                    <div class="col-md-6">
{#                        <a href="#"><img src="../../static/images/slider/img1.jpg"></a>#}
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>01</h1>
                                <p>自主创业做市场，想要注册成本最低？</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>02</h1>
                                <p>不知道在哪里注册，可以享受更多优惠政策？</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>03</h1>
                                <p>纳税大户，不懂如何合理合法避税?</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>04</h1>
                                <p>时间紧迫，想要最快速度成立公司?</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>05</h1>
                                <p>想注册一个特殊意义的公司名称，又怕通不过?</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>06</h1>
                                <p>不知道注册什么公司类型的公司才最适合自己？</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>07</h1>
                                <p>注册后不懂如何开户、税种核定、代理记帐等后续操作？</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask">
                            <a href="/">
                                <h1>08</h1>
                                <p>特殊行业公司注册，国家要求严格，注册有难度？</p>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 register_ask" align="center" style="padding-top:20px">
                            <a class="btn btn-bg btn-danger" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1227203279&amp;site=qq&amp;menu=yes">立刻咨询</a>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="register_steps2">
                            <h1 style="color: #a01913"><span>2:&nbsp;</span>注册中</h1>
                            <b><a href="#" target="_blank" style="font-size: 20px;padding: 15px">零元注册，全程包办，1对1专人服务，省心省力</a></b>
                        </div>
                        <div class="intro-flow">
                            <div class="intro-list">
                                <div class="intro-list-left">
                                    开始
                                </div>
                                <div class="intro-list-right">
                                    <span>0</span>
{#                                    <div class="intro-list-content">#}
{#                                        材料准备#}
{#                                    </div>#}
                                </div>
                            </div>

                            <div class="intro-list intro-list-active">
                                <div class="intro-list-left">
                                    名称核准
                                </div>
                                <div class="intro-list-right">
                                    <span>1</span>
                                    <div class="intro-list-content">
                                        3-5个工作日
                                    </div>
                                </div>
                            </div>

                            <div class="intro-list intro-list-active">
                                <div class="intro-list-left">
                                    材料审核
                                </div>
                                <div class="intro-list-right">
                                    <span>2</span>
                                    <div class="intro-list-content">
                                        1-3个工作日
                                    </div>
                                </div>
                            </div>

                            <div class="intro-list intro-list-active">
                                <div class="intro-list-left">
                                    领取执照
                                </div>
                                <div class="intro-list-right">
                                    <span>3</span>
                                    <div class="intro-list-content">
                                        5个工作日
                                    </div>
                                </div>
                            </div>

                            <div class="intro-list intro-list-active">
                                <div class="intro-list-left">
                                    刻章事项
                                </div>
                                <div class="intro-list-right">
                                    <span>4</span>
                                    <div class="intro-list-content">
                                        1-2个工作日
                                    </div>
                                </div>
                            </div>

                            <div class="intro-list intro-list-last">
                                <div class="intro-list-left">
                                    完成
                                </div>
                                <div class="intro-list-right">
                                    <span>5</span>
{#                                    <div class="intro-list-content">#}
{#                                        完成#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register_steps">
                    <div class="col-md-6">
                        <a href="#"><img src="../../static/images/slider/img1.jpg"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="register_steps3">
                            <h1 style="color: #a01913"><span>3:&nbsp;</span>注册后</h1>
                            <b><a href="#" target="_blank" style="font-size: 20px;padding: 15px">全方位指导帮助，办证后续无忧 </a></b>
                            <ul>
                                <li class="span_odd"><span class="glyphicon glyphicon-hand-right"></span>代理记账 </li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>税种核定</li>
                                <li class="span_odd"><span class="glyphicon glyphicon-hand-right"></span>一般纳税人认定</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>银行开户</li>
                                <li class="span_odd"><span class="glyphicon glyphicon-hand-right"></span>扣税协议</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>财政扶持</li>
                                <li class="span_odd"><span class="glyphicon glyphicon-hand-right"></span>商标注册</li>
                                <li><span class="glyphicon glyphicon-hand-right"></span>人事事务</li>
                            </ul>
                            <a class="btn btn-bg btn-danger" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1227203279&amp;site=qq&amp;menu=yes">在线咨询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../static/plugins/bwizard/js/bwizard.min.js" type="text/javascript"></script>
<script type="text/javascript">
   $("#wizard").bwizard();
</script>

