{% extends 'index.html' %}
{% block main %}
    <style>
    .img-responsive{
        height: 300px;
    }
    </style>
<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>我们的团队</h2>
{#            <p class="lead">xxx <br> yyyy</p>#}
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/zhj.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">渠道专员—张 剑</a> </h3>
                            <p>上海百统投资有限公司 工商注册 --- 渠道专员 我是上海百统投资</p>
                            <a class="preview" href="/static/images/user/zhj.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/cshp.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">金牌顾问：崔世平</a></h3>
                            <p>精通工商、税务、银行政策！专业精益求精，请咨询我！</p>
                            <a class="preview" href="/static/images/user/cshp.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/zhl.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">资深财税顾问：张琳 </a></h3>
                            <p>您创业路上贴心“工商、税务”助手！张会计：150-2173-1898</p>
                            <a class="preview" href="/static/images/user/zhl.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/cht.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">公司收购转让经理：陈涛</a></h3>
                            <p>工商注册- - -A级代理陈涛（24小时服务热线：13162007050）</p>
                            <a class="preview" href="/static/images/user/cht.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/thl.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">资质审批经理：谭海林</a></h3>
                            <p>诚实守信，服务至上，您的专属顾问谭海林177-1723-0997</p>
                            <a class="preview" href="/static/images/user/thl.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/cshq.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">投资管理经理：崔世勤</a></h3>
                            <p>您刚好需要，我正好专业！甲级代理崔世勤158-0078-8848</p>
                            <a class="preview" href="/static/images/user/cshq.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="/static/images/user/xxt.jpg" alt="">
                    <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">大额增资经理：向旭堂 </a></h3>
                                <p>本人毕业于湖北工商管理学院，一直从事于本专业工作</p>
                                <a class="preview" href="/static/images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/user/llr.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">自贸区注册经理：罗丽荣</a></h3>
                                <p>为您量身定制公司设立及财税方案，您身边24小时最贴心的顾问</p>
                                <a class="preview" href="/static/images/user/llr.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="/static/images/user/chyf.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">融资租赁经理：陈永丰</a></h3>
                                <p>踏实，责任，是我们的标签。做工商，找小陈，您就是找放心！</p>
                                <a class="preview" href="/static/images/user/chyf.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 查看</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section>
{% endblock %}