 {% extends 'index.html' %}
 {% block main %}
     {% include 'homepage/slider.html' %}
     {% include 'homepage/hp_section_2.html' %}
     {% include 'homepage/hp_section_3.html' %}
{#     {% include 'homepage/core_business.html' %}#}
{#     {% include 'homepage/feature.html' %}#}
{#     {% include 'homepage/register_steps.html' %}#}

{#     {% include 'homepage/skills.html' %}#}
     {% include 'homepage/advert1.html' %}
     {% include 'homepage/character.html' %}
     {% include 'homepage/recent_works.html' %}
     {% include 'homepage/members.html' %}
     {% include 'homepage/advert2.html' %}
     {% include 'homepage/media1.html' %}
     {% include 'homepage/parters.html' %}

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>百统投资 工商注册  2014   www.baitong88.com </h2>
                            <p>24小时咨询专线：40071-80071  021-61999583 专家号： 18221735893  15021731898</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="widget">
                        <h3>友情链接</h3>
                            <a href="http://baitongtouzi.5858.com/" target="_blank">注册公司直线</a>  &nbsp; &nbsp;

                              <a href="http://www.baitongvip.com" target="_blank">百统投资</a>  &nbsp; &nbsp;

                              <a href="http://www.gov.cn/" target="_blank">人民政府</a>  &nbsp; &nbsp;

                              <a href="http://www.pudong.gov.cn" target="_blank">上海浦东行政服务中</a>  &nbsp; &nbsp;

                              <a href="http://www.tax.sh.gov.cn/pub" target="_blank">上海市税务局</a>  &nbsp; &nbsp;

                              <a href="http://www.china-shftz.gov.cn" target="_blank">上海自贸区官网</a>  &nbsp; &nbsp;

                              <a href="http://www.sgs.gov.cn/shaic/" target="_blank">上海市工商局</a>  &nbsp; &nbsp;

                              <a href="http://www.csrc.gov.cn/pub/newsite/" target="_blank">中国证监会</a>  &nbsp; &nbsp;

                              <a href="http://www.shjswz.com" target="_blank">网站建设</a>  &nbsp; &nbsp;

                              <a href="http://gsxt.saic.gov.cn/" target="_blank">全国企业信用信息系</a>  &nbsp; &nbsp;
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-12 col-sm-12">
                    <div class="widget">
                        <h3>关于我们</h3>
                        上海公司：上海市浦东新区东方路800号宝安大厦902室  邮编：200120 沪ICP备15050442号<br>
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013  all Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
 {% endblock %}
{% block js %}
<script type="text/javascript"  src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:5,trigger:"click"});
</script>
{% endblock %}
