 {% extends 'index.html' %}
 {% block main %}
     {% include 'homepage/slider.html' %}
     {% include 'homepage/hp_section_2.html' %}
     {% include 'homepage/hp_section_3.html' %}
     {% include 'homepage/advert1.html' %}
     {% include 'homepage/character.html' %}
     {% include 'homepage/recent_works.html' %}
     {% include 'homepage/members.html' %}
     {% include 'homepage/advert2.html' %}
     {% include 'homepage/media1.html' %}
     {% include 'homepage/parters.html' %}

{#    <section id="conatcat-info">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-sm-8">#}
{#                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">#}
{#                        <div class="pull-left">#}
{#                            <i class="fa fa-phone"></i>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <h2>百统投资 工商注册  2014   www.baitong88.com </h2>#}
{#                            <p>24小时咨询专线：40071-80071  021-61999583 专家号： 18221735893  15021731898</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div><!--/.container-->#}
{#    </section><!--/#conatcat-info-->#}

    {% include 'homepage/home_footer.html' %}

    <footer class="midnight-blue">
        <div class="container">
            <div class="row">
                {% include 'homepage/bottom_tag.html' %}
            </div>
        </div>
    </footer><!--/#footer-->
 {% endblock %}
{% block js %}
<script type="text/javascript"  src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:5,trigger:"click"});
</script>
{% endblock %}
