<div class="col-md-2">
{#  <a href="/monitor/target/new?type={{ item1 }}" class="btn btn-primary btn-block margin-bottom">添加监控项</a>#}
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">监控详情</h3>
      <div class="box-tools">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
          <li {% if item1 == 'overview'%}  class="active" {% endif %}><a href="{{ url_for('monitor.detail_info', **{'_id':mt_id}) }}"><i class="fa fa-file-text-o"></i> 网站概览</a></li>
{#          <li {% if item1 == 'run_status'%}  class="active" {% endif %}><a href="/monitor/view?monitor_type=http"><i class="fa fa-file-text"></i> 运行状态</a></li>#}
{#          <li {% if item1 == 'history'%}  class="active" {% endif %}><a href="/monitor/view?monitor_type=dns"><i class="fa fa-filter"></i>历史快照</a></li>#}
      </ul>
    </div>
  </div>
</div>